.btn.mydropdown::after {
  display: none !important;
}
.notification-item {
  display: flex;
  align-items: center;
}

.notification-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.notification-content {
  flex: 1;
}

.notification-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notification-message {
  font-size: 14px;
  margin-bottom: 0;
  white-space: pre-line;
}
.notification-click {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.dropdown-menu {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 350px; 

}
.notification-count {
  position: absolute;
  top: -2px; 
  right: -2px; 
  background-color: #ff0000; 
  color: #ffffff; 
  font-size: 12px; 
  padding: 1.5px 5px; 
  border-radius: 50%; 
}
.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mark-all-button {
  background: none;
  border: none;
  color: #007bff; /* Customize the button color */
  font-size: 14px; /* Customize the button font size */
  cursor: pointer;
}
