body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .ps-sidebar-root{
  position: relative;
  width: auto !important
} */
.containerss {
	display: flex;
}
/* .ps-sidebar-container {
  width: 87% !important ;
} */
.sidebarsss {
  height: 100vh;
  position: sticky;
  top: 0;
}
.arrow-sidebar{

  margin-top:25vh;
  text-align: center;
}
/* .avatar-wrapper {
  display: flex;
  align-items: center;
}

.avatar-wrapper .username {
  margin-left: 8px;
} */
/* .active {
  background-color: blue;
  color: white;
}

.ps-menuitem-root:hover {
  background-color: red !important;
  /* opacity: 0; */
  /* color: white !important; */
/* } */

.active{
  color: rgb(255, 255, 255);
}
.active:hover {
  background-image: linear-gradient(to right, #00000083 0%, #5c5e703f 51%, #cac3c356 100%) !important;
  color: rgb(24, 24, 24);

}

.card-icon{
color: rgba(0, 0, 0, 0.3) !important;
}
.card-category{
  color: rgb(243, 231, 231);

}
.admin-dashboard {
  display: flex;
}

.admin-sidebar {
  position: sticky;
  top: 10px;
  flex: 1;
  height: 100vh;
}

.admin-main {
  flex: 11;
  padding: 10px;
}

@media only screen and (max-width: 450px) {
  .admin-dashboard {
    display: block;
  }

  .admin-sidebar {
    position: static;
  }
}

/* CustomPagination.css */
.react-bootstrap-table-pagination .page-item {
  color: #ffffff; /* White text color */
}

.react-bootstrap-table-pagination .page-item.active .page-link {
  background-color: rgb(153, 0, 255) ; /* Dark background color for active page */
  border-color: rgb(153, 0, 255) ; /* White border color for active page */
}

.react-bootstrap-table-pagination .page-link {
  color: rgb(153, 0, 255) ; /* White text color for page links */
}

.react-bootstrap-table-pagination .page-link:hover {
  color: rgb(255, 255, 255) ; /* White text color on hover */
  background-color: rgb(153, 0, 255) ; /* Dark background color on hover */
  border-color: rgb(153, 0, 255) ; /* White border color on hover */
}
#pageDropDown{
  background-color: rgb(153, 0, 255) !important;
}
