body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .ps-sidebar-root{
  position: relative;
  width: auto !important
} */
.containerss {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
/* .ps-sidebar-container {
  width: 87% !important ;
} */
.sidebarsss {
  height: 100vh;
  position: sticky;
  top: 0;
}
.arrow-sidebar{

  margin-top:70vh;
  text-align: center;
}

/* .active {
  background-color: blue;
  color: white;
}

.ps-menuitem-root:hover {
  background-color: red !important;
  /* opacity: 0; */
  /* color: white !important; */
/* } */
.active:active{
  background: #000;
}
.active{
  background: #000;
}
.active::after{
  background: #000;
}
