body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .ps-sidebar-root{
  position: relative;
  width: auto !important
} */
.containerss {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
/* .ps-sidebar-container {
  width: 87% !important ;
} */
.sidebarsss {
  height: 100vh;
  position: sticky;
  top: 0;
}
.arrow-sidebar{

  margin-top:70vh;
  text-align: center;
}

/* .active {
  background-color: blue;
  color: white;
}

.ps-menuitem-root:hover {
  background-color: red !important;
  /* opacity: 0; */
  /* color: white !important; */
/* } */

.active{
  color: rgb(255, 255, 255);
}
.active:hover {
  background-image: linear-gradient(to right, #00000083 0%, #5c5e703f 51%, #cac3c356 100%) !important;
  color: rgb(24, 24, 24);

}
.sidebarsss {
  /* Your other styles */
}

.sidebarsss .pro-sidebar .pro-menu .pro-menu-item > a {
  color: #000 !important; /* Change the color of the link text */
}

.sidebarsss .pro-sidebar .pro-menu .pro-menu-item.active > a {
  background-color: #1100ff !important;
  color: #b700ff !important; /* Change the color of the link text */
}

.sidebarsss .pro-sidebar .pro-menu .pro-menu-item > a:hover {
  background-color: #0026ff !important;
  color: #1100fc !important; /* Change the color of the link text */
}

